.searched-image-preview {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  cursor: pointer;
  box-shadow: 4px 4px 4px grey;
}
