.image-view-title-container {
  width: 100%;
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image-view-title-container span {
  font-size: 36px;
  font-weight: bold;
}

.user-tile {
  margin: 8px;
}

.user-tile-image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.user-tile-image-container img {
  height: 48px;
  width: 48px;
  border: 2px solid grey;
  border-radius: 50%;
  margin-right: 8px;
}

.main-image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  padding: 16px;
}

.main-image-container img {
  border: 2px solid grey;
}

.image-tags-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 8px;
}

.image-tags-container span {
  font-weight: bold;
  margin-right: 4px;
}

.image-tag {
  padding: 6px;
  background-color: #173f5f;
  display: inline-block;
  margin: 0px 4px 0px 4px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
